experiments/
modules/custom/*.json
*.pyc
__pycache__/

# Ignore large or generated folders
dog/
evaluation/
output/

# Ignore common heavy ML files
*.pt
*.bin
*.safetensors
*.ckpt

# Ignore images & datasets
*.jpg
*.jpeg
*.png
*.gif


